
p {                            /* (手番とスコア)         */
    font-size: 2rem;           /* フォントサイズ         */
}



a:visited {                    /* (リンク:訪問済み)      */

    color: #cae03a;            /* テキストの色           */
}

a:hover {                      /* (リンク:ホバー時)      */
    color: #FFFFFF;            /* テキストの色           */
    background: #0000DD;       /* 背景色                 */
}

a:active {                     /* (リンク:クリック時)    */
    color: #FF0000;            /* テキストの色           */
}

body {                          /* (全体)                 */
    text-align: center;        /* テキスト中央寄せ       */
    color:#7f08e1;             /* テキストの色           */
    background-color:#303030;  /* 背景の色               */
    font-weight: bold; /* テキストを太字にする */
    
    
    background-color: #FFD700; /* 背景色を金色に設定 */
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color:green; /* タイトルの文字色を黒に設定 */
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* テキストに影を追加 */
}


h2 {
    color: #000; /* タイトルの文字色を黒に設定 */
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* テキストに影を追加 */
}

h3 {
    color:white; /* タイトルの文字色を黒に設定 */
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* テキストに影を追加 */
}


p {
    margin: 10px 0;
    font-size: 1.5rem;
}


a {
    color: #dae80f; /* リンクの文字色をピンクに設定 */
    text-decoration: none;
    color: #FF1493; /* リンクの文字色をピンクに設定 */
    font-weight: bold;
}

a:hover {
    color: #FF4500; /* ホバー時のリンクの文字色をオレンジに設定 */
}

body {
    text-align: center;
}
h1 {
    margin-bottom: 30px;
}
a {
    display: inline-block;
    padding: 40px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}